{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid content">
    <div class = "banner">
        <h1>H-FLIX</h1>
    </div>
    {% load static %}
    <div class="director-content  container-fluid mx-auto d-block">
        <h2>Registered Actors</h2>
            <form class="form-inline md-form mr-auto mb-4" method="post" action="">
                 {% csrf_token %}
                <input class="form-control mr-sm-2" name="name" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search Actor</button>
            </form>
        <ul>
            {% for actor in actors %}
                <li>
                    <a href="{% url 'info_actor' actor.id %}"><strong>{{ actor }}</strong></a> - <a href="{% url 'edit_actor' actor.id %}">Edit</a> - <a href="{% url 'delete_actor' actor.id %}">Delete</a>
                </li>
            {% endfor %} 
        </ul>
        <p>
            <a href="{% url 'add_actor' %}">Add an actor</a>
        </p>
    </div>
</div>

{% endblock %}