{% extends "base_generic.html" %}



{% block content %}
<div class="banner"><h1 >H-FLIX</h1> 
    <div class="content">
    <h2>Name: {{ movie.title }}</h2>
    <br>
    Release Date:     {{ movie.rel_date }}
    <div class="Data">
         <P>Synopsis: {{ movie.synopsis }}</P>
         <P>Director: {{ movie.director }}</P>
         <P>Country: {{ movie.country }}</P>
         <P>Genre: {{ movie.genre.all|join:', ' }}</P>
         <P>Actor: {{movie.actor.all|join:', ' }}</P>
    </div>

    {{ movie.review }}
    </div>
    
    
</div>
{% endblock %}